@layout TournamentLayout
@page "/tournament/{TournamentId}/add/competition"

@using FisherTournament.Application.Fishers.Queries;
@using FisherTournament.Application.Tournaments.Commands.AddCompetitions;
@using FisherTournament.Contracts.Competitions;
@using FisherTournament.Domain.FisherAggregate.ValueObjects;
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;
@using Microsoft.Fast.Components.FluentUI;

@inject IToastService _toastService
@inject NavigationManager _nav
@inject ISender _sender
@inject IJSRuntime _js
@inject IMapper _mapper

<EditForm class="relative h-full" OnSubmit="Submit" EditContext="@_editContext">

	<h1 class="page-title-no-pt">Agregar Competición</h1>

	<p class="m-0 color-fg"></p>
	<FluentDivider class="mt-1 mb-4" />

	<div class="flex flex-col items-center">
		<div>
			<FluentDatePicker @bind-Value="@SelectedDate" Required="true">
				@* TODO: No deberia ser simplemente fecha de la competencia? *@
				<LabelTemplate>
					Fecha de Inicio <span class="red">*</span>
				</LabelTemplate>
			</FluentDatePicker>
			<FluentTimePicker @bind-Value="@SelectedDate" Label="" />
			<ValidationMessage For="() => Model!.StartDateTime" />
		</div>
	</div>


	<FluentGrid Class="items-end">
		<FluentGridItem sm="12" md="6">
			<p class="m-0 mt-16 color-fg">Lugar de la competencia</p>
		</FluentGridItem>

		<FluentGridItem sm="12" md="6" Class="flex justify-end">
		
		</FluentGridItem>
	</FluentGrid>
	<FluentDivider class="mt-1 mb-4" />

	<div class="flex flex-row justify-evenly w-full">
		<div>
			<FluentTextField @bind-Value="@Model.Location.Place" Required="false" AutoComplete="off">
				Direccion/Nombre del lugar
				&nbsp;&nbsp;&nbsp;
				<FluentBadge Appearance="Appearance.Neutral" Fill="lowlight" BackgroundColor="#000" Color="#fff">Opcional</FluentBadge>
			</FluentTextField>
			<ValidationMessage For="() => Model!.Location" />
			<ValidationMessage For="() => Model!.Location.Place" />
		</div>
	</div>

	<div class="absolute bottom-0 mt-6 flex flex-row w-full justify-center gap-24">
		<FluentButton Appearance="Appearance.Stealth" OnClick="Cancel">Cancelar</FluentButton>
		<FluentButton 
				IconStart="@(new Icons.Regular.Size16.Checkmark())" 
				Appearance="Appearance.Accent"
				Disabled="@_saving"
				Type="ButtonType.Submit">Guardar</FluentButton>
	</div>
</EditForm>

@code {
	[Parameter]
	public string TournamentId { get; set; } = null!;

	AddCompetitionRequest Model { get; set; } = default!;

	private bool _saving = false;

	private DateTime? SelectedDate { 
		get
		{
			return Model.StartDateTime.ToLocalTime();
		}

		set
		{
			if (value is null)  return;

			Model.StartDateTime = value.Value.ToUniversalTime();
			//Model.EndDateTime = value.Value.AddDays(1).ToUniversalTime();
		}
	}

	EditContext _editContext = default!;
	ValidationMessageStore _validationMessageStore = default!;

	protected override void OnInitialized()
	{
		Model = new AddCompetitionRequest(DateTime.UtcNow, null, new());
		_editContext = new EditContext(Model);
		_validationMessageStore = new ValidationMessageStore(_editContext);
	}


	void Cancel()
	{
		_js.GoBack();
	}

	async Task Submit()
	{
		if (!_editContext.Validate() || _saving) return;

		_saving = true;
		var command = _mapper.Map<AddCompetitionsCommand>((new AddCompetitionsRequest(new() { Model }), TournamentId));
		var res = await _sender.Send(command);

		if (res.IsError)
		{
			_editContext.AddValidationErrors(res.Errors, _validationMessageStore, Model, _toastService);
		}
		else
		{
			//_saving = false;
			_toastService.ShowSuccess("Competición agregada");
			await _js.GoBack();
		}
	}
}