@inherits LayoutComponentBase
@using Microsoft.Fast.Components.FluentUI;

@layout MainLayout

<FluentLayout Class="pt-6">
    <FluentStack Orientation="Orientation.Horizontal" Width="100%" Class="h-full">
        <div style="color: var(--neutral-foreground-rest);">
            <FluentNavMenu Width="300">
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Href="/tournaments/add">Información General</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.PeopleList())" Href="/tournaments/categories">Categorías</FluentNavLink>
                <FluentNavGroup Title="Inscripciones" Icon="@(new Icons.Regular.Size24.People())" Expanded=true>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.PeopleAdd())" Href="/tournaments/inscription">Agregar inscripción</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Href="/tournaments/inscriptions">Ver inscripciones</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Competiciones" Icon="@(new Icons.Regular.Size24.CalendarDate())" Expanded=true>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAdd())" Href="/tournaments/competition">Agregar competición</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Href="/tournaments/competitions">Ver competiciones</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarMultiple())" Href="/tournaments/leaderboard">Tabla de posiciones</FluentNavLink>
            </FluentNavMenu>
        </div>

        <FluentDivider Orientation="Orientation.Vertical" Role="DividerRole.Separator" />

        <FluentBodyContent Class="pl-7" Style="overflow: visible !important;">
            @Body
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>