@inherits LayoutComponentBase
@using Microsoft.Fast.Components.FluentUI;

@inject NavigationManager Navigation

@layout MainLayout

<FluentLayout Class="pt-6">
    <FluentStack Orientation="Orientation.Horizontal" Width="100%" Class="h-full">
        <div style="color: var(--neutral-foreground-rest);">
            <FluentNavMenu Width="300">
                <FluentNavLink Match=NavLinkMatch.All Icon="@(new Icons.Regular.Size24.Home())" Href=@($"/tournament/{TournamentId}")>Información General</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.PeopleList())" Href=@($"/tournament/{TournamentId}/categories")>Categorías</FluentNavLink>
                <FluentNavGroup Title="Inscripciones" Icon="@(new Icons.Regular.Size24.People())" Expanded=true>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.PeopleAdd())" Href=@($"/tournament/{TournamentId}/add/inscription")>Agregar inscripción</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Href=@($"/tournament/{TournamentId}/inscriptions")>Ver inscripciones</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Competiciones" Icon="@(new Icons.Regular.Size24.CalendarDate())" Expanded=true>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAdd())" Href=@($"/tournament/{TournamentId}/add/competition")>Agregar competición</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Href=@($"/tournament/{TournamentId}/competitions")>Ver competiciones</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarMultiple())" Href=@($"/tournament/{TournamentId}/leaderboard")>Tabla de posiciones</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.FoodFish())" Href=@($"/tournament/{TournamentId}/add/score")>Agregar puntaje</FluentNavLink>
            </FluentNavMenu>
        </div>

        <FluentDivider Orientation="Orientation.Vertical" Role="DividerRole.Separator" />

        <FluentBodyContent Class="pl-7" Style="overflow: visible !important;">
            @Body
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

@code {
    private string TournamentId = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var uri = new Uri(Navigation.Uri);
        var segments = uri.Segments;
        
        if (segments.Length >= 3)
        {
            TournamentId = segments[2].TrimEnd('/');
        }else{
            TournamentId = string.Empty;
        }
    }
}