@page "/fishers/validate"

@using System.ComponentModel.DataAnnotations

<EditForm EditContext="@editContext" OnSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @* <div class="form-group"> *@
    <label for="Name">Name</label>
    <InputText @bind-Value=Model!.Name class="form-control" />
    <ValidationMessage For="() => Model!.Name" />

    @* </div> *@
    <div class="form-group">
        <label for="Age">Age</label>
        <InputNumber @bind-Value=Model!.Age class="form-control" id="Age" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>

@code {
    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    PersonModel Model { get; set; }

    protected override void OnInitialized()
    {
        Model ??= new();
        editContext = new(Model);
        messageStore = new(editContext);
        @* editContext.OnValidationRequested += HandleValidationRequested; *@
    }
    private async Task Submit()
    {
        if (editContext != null)
        {
            messageStore?.Add(() => Model.Age, "Age must be > 1");
            editContext.NotifyValidationStateChanged();
        }
    }
}

@code {
    public class PersonModel
    {
        @* [Required] *@
        public string Name { get; set; }

        @* [Range(18, 80, ErrorMessage = "Age must be between 18 and 80.")] *@
        public int Age { get; set; }
    }
}

@*
@using System.Globalization

<h1>Culture Example 1</h1>

<p>
<b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>

<h2>Rendered values</h2>

<ul>
<li><b>Date</b>: @dt</li>
<li><b>Number</b>: @number.ToString("N2")</li>
</ul>

<h2><code>&lt;input&gt;</code> elements that don't set a <code>type</code></h2>

<p>
The following <code>&lt;input&gt;</code> elements use
<code>CultureInfo.CurrentCulture</code>.
</p>

<ul>
<li><label><b>Date:</b> <input @bind="dt" /></label></li>
<li><label><b>Number:</b> <input @bind="number" /></label></li>
</ul>

<h2><code>&lt;input&gt;</code> elements that set a <code>type</code></h2>

<p>
The following <code>&lt;input&gt;</code> elements use
<code>CultureInfo.InvariantCulture</code>.
</p>

<ul>
<li><label><b>Date:</b> <input type="date" @bind="dt" /></label></li>
<li><label><b>Number:</b> <input type="number" @bind="number" /></label></li>
</ul>

@code {
private DateTime dt = DateTime.Now;
private double number = 1999.69;
}

*@